<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h1><b>{{ site.title }}</b></h1>
        <p>{{ site.description }}</p>
      </section>
    </div>
    <div>
      <section>
        <h1><b>The Team</b></h2>
          <div class="dev-container">
            <div class="card">
              <div class="tools">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
              <div class="card__content">
                <img src="/assets/css/images/Fitz.jpg">
                <p><b>Fitzsixto Singh</b></p>
                <p><b>Lead</b></p>
                <p><b><i>BS Computer Science 2</i></b></p>
              </div>
            </div>
            <div class="card">
              <div class="tools">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
              <div class="card__content">
                <img src="/assets/css/images/Jen.jpeg">
                <p><b>Jennyca Dequiña</b></p>
                <p><b>Designer</b></p>
                <p><b><i>BFA Advertising Arts 2</i></b></p>
              </div>
            </div>
            <div class="card">
              <div class="tools">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
              <div class="card__content">
                <img src="/assets/css/images/Prince.jpg">
                <p><b>Prince Pantino</b></p>
                <p><b>Developer</b></p>
                <p><b><i>BS Computer Science 2</i></b></p>
              </div>
            </div>
            <div class="card">
              <div class="tools">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
              <div class="card__content">
                <img src="/assets/css/images/Mary.png">
                <p><b>Mary Modesto</b></p>
                <p><b>Developer</b></p>
                <p><b><i>BS Computer Science 2</i></b></p>
              </div>
            </div>
            <div class="card">
              <div class="tools">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
              <div class="card__content">
                <img src="/assets/css/images/Summer.JPG">
                <p><b>Summer Sandot</b></p>
                <p><b>Lead</b></p>
                <p><b><i>BS Interior Design 2</i></b></p>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</footer>
